.page--resume {
  width: 8.5in;
  padding: 0;
}

.resume {
  width: 8.5in;
  min-height: 11in;
  padding: 0.75in;
  font-size: 10pt;
  color: black;
  line-height: 150%;
  background: white;
  box-shadow: 0 1px 20px var(--c-grey-11);
}

.resume p, ol, ul {
  color: black;
}

.resume p {
  text-indent: 16px;
}

.resume > section {
  margin: 16px 0;
}

.resume__title {
  font-size: 1.75em;
}

.resume__tagline {
  margin: 0;
  color: black;
  font-weight: 400;
}

.resume__tagline > .fa-canadian-maple-leaf {
  color: black;
}

.resume__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .25in;
}

.resume__header > .right {
  text-align: right;
  line-height: 133%;
}

.experience {
  margin: 16px 0;
}

.experience__header {
  display: flex;
  justify-content: space-between;
}

.experience__tools {
  list-style-type: none;
  font-size: 12px;
  font-style: italic;
}

.experience__tools > li {
  display: inline;
}

.experience__tools > li:after {
  content: ", "
}

.experience__tools > li:last-child:after {
  content: "";
}


@media print {
  @page {
    size: letter;
    margin: 0.75in;
  }

  @page :header {
    display: none;
  }

  @page :footer {
    display: none;
  }

  .page {
    margin: 0;
  }

  .page__header {
    display: none;
  }

  .resume {
    padding: 0;
  }
}
