* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: white;
  background: #1f364d;  
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

h1 {
  font-size: 1.5em;   
}

p {
  margin: 8px 0;
  color: #b9c9da;
}

a {
  color: #55acee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #55acee;
}

.page-content {
  width: 640px;
  margin: 0 auto;
}

.site-banner {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.site-banner > .right {
  text-align: right;
}

.site-tagline {
  color: #b9c9da;
}

.page-section {
  margin-bottom: 32px;
}

.section-header {
  margin: 8px 0;
}

.project-card {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #233b53;  
  border-radius: 3px;
}

.project-card:last-child {
  margin-bottom: 0;
}

.project-thumb {
  width: 128px;
  height: 128px;
  margin-right: 16px;
  border-radius: 3px;
}

.project-info {
  flex-grow: 1;  
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-owner {
  color: #b9c9da;
}