<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - {{projects.ai-music-blocks.name}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <header class="card-header">
        <h2 class="no-margin">{{projects.ai-music-blocks.name}}</h2>
      </header>
      <p>AI Music Blocks is an experimental tool that enables users to create novel and dynamic soundscapes. The tool employs a variety of Machine Learning (ML) models, facilitating experimentation and play.</p>
      <p>The tool's no-code interface allows users to effortlessly snap together pre-built music blocks, including drums, basslines, melodies, harmonies, and more, to create their unique music compositions. The chunked generation and rendering techniques allow the tool to produce music in real-time, providing users with immediate feedback on their creations.</p>
      <h3>Gallery</h3>
      <div class="gallery">
        {{#projects.ai-music-blocks.gallery}}
        <a class="button button--image" href="{{.}}">
          <div class="button__paddle">
            <img class="button__image" src="{{.}}" />
          </div>
        </a>
        {{/projects.ai-music-blocks.gallery}}
      </div>
    </div>
  </div>
</body>
</html>
