<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - {{projects.asset-graph.name}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <header class="card__header">
        <h2 class="no-margin">{{projects.asset-graph.name}}</h2>
      </header>
        <p>Asset Graph is a powerful system designed to compose a searchable graph of files based on a set of contextual associations. The system is architected as a modular framework with extension points for expanding supported file types and relational mapping techniques, making it highly flexible and customizable to the dataset and application.</p>
        <p>With Asset Graph, you can facilitate the ingestion and enrichment of large amounts of assets spanning over many years of production, as demonstrated by its successful implementation for a notable animated YouTube series. In this project, Asset Graph was used to manage over 400k+ assets, including images, videos, audio, and text files. The datasets produced was then used to aggregate relevant training data for custom generative AI models.</p>
      <h3>Gallery</h3>
      <div class="gallery">
        {{#projects.asset-graph.gallery}}
        <a class="button button--image" href="{{.}}">
          <div class="button__paddle">
            <img class="button__image" src="{{.}}" />
          </div>
        </a>
        {{/projects.asset-graph.gallery}}
      </div>
    </div>
  </div>
</body>
</html>
