<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - Fanxchange</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <h2>Fanxchange.com</h2>
      <p>After a rebranding of the company, I worked closely with the lead designer to rebuild <a href="https://fanxchange.com">fanxchange.com</a>.</p>
      <p>Below are screenshots of the project as of early 2019 and includes the work of many talented designers and developers since it's first launch.</p>
      <img class="project-screenshot" src="/images/fanxchange/1.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/2.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/3.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/4.jpg" />
    </div>
  </div>
</body>
</html>