<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <p class="card">{{bio}}</p>
    <section class="page__section">
      <div class="section__header">
        <h2 class="no-margin">Things I've made</h2>
      </div>
      <div class="project-grid">
        {{#projects}}
        <a class="button button--image" href="{{link}}">
          <div class="button__paddle">
            <img class="button__image" src="{{thumb}}" />
            <span class="button__label">{{name}}</span>
          </div>
        </a>
        {{/projects}}
      </div>
    </section>
    <footer class="site__footer">
      &copy; <em id="copyrightYear"></em>
    </footer>
  </div>
  <script src="bundle.js"></script>
</body>
</html>
