<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <p class="card">{{bio}}</p>
    <section class="page-section">
      <div class="section-header">
        <h2 class="no-margin">Things I've made</h2>
      </div>
      <div class="project-grid">
        {{#projects}}
        <a class="button button--image" href="{{link}}">
          <div class="button__paddle">
            <img class="button__image" src="{{thumb}}" />
            <span class="button__label">{{name}}</span>            
          </div>
        </a>
        {{/projects}}
      </div>      
    </section>    
    <footer class="site-footer"></footer>
  </div>
</body>
</html>