<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - Resume</title>
  {{> head}}
  <link rel="stylesheet" href="/styles/resume.css">
</head>
<body>
  <div class="page page--resume">
    <div class="page__header">
      <a href="/"><i class="fas fa-arrow-left"></i> Back</a>
      <a class="print-link" href="#" onclick="window.print();">Print this page <i class="fas fa-print"></i></a>
    </div>
    <div class="resume">
      <header class="resume__header">
        <div class="left">
          <h1 class="resume-title">{{title}}</h1>
          <h3 class="resume-tagline">{{tagline}} <i class="fab fa-canadian-maple-leaf"></i></h3>
        </div>
        <div class="right contact-details">
          <a href="mailto:{{email}}">{{email}}&nbsp;&nbsp;<i class="far fa-envelope"></i></a>
          <a href="{{site}}">{{siteLabel}}&nbsp;&nbsp;<i class="fas fa-globe-americas"></i></a>
          <a href="{{github}}">{{githubLabel}}&nbsp;&nbsp;<i class="fas fa-code-branch"></i></a>
        <div>
      </header>
      <section>
        <h2>Key Strengths</h2>
        <ul class="strengths">
          {{#resume.summary.strengths}}
          <li><b>{{label}}</b> - {{description}}</li>
          {{/resume.summary.strengths}}
        </ul>
      </section>
      <section>
        <h2>Technical Skills</h2>
        <ul>
          {{#resume.summary.skills}}
          <li><b>{{label}}:</b> <ul class="list--inline">{{#values}}<li>{{.}}</li>{{/values}}</li></ul></li>
          {{/resume.summary.skills}}
        </ul>
      </section>
      <section>
        <h2>Experience</h2>
        {{#resume.experience}}
        <div class="experience">
          <header class="experience__header">
            <h3>{{title}}{{#client}}&nbsp;-&nbsp;{{client}}{{/client}}</h3>
            <h3>{{start}} - {{#end}}{{end}}{{/end}}{{^end}}Present{{/end}}</h3>
          </header>
          {{#projects}}
          <h4>{{name}} - {{description}}</h4>
          <ul>
            {{#achievements}}
            <li>{{.}}</li>
            {{/achievements}}
          </ul>
          {{/projects}}
        </div>
        {{/resume.experience}}
      </section>
    </div>
  </div>
</body>
</html>
