<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - Resume</title>
  {{> head}}
  <link rel="stylesheet" href="/styles/resume.css">
</head>
<body>
  <div class="page">
    <div class="page-header">
      <a href="/"><i class="fas fa-arrow-left"></i> Back</a>
      <a class="print-link" href="#" onclick="window.print();"><i class="fas fa-print"></i> Print this page</a>
    </div>
    <div class="resume">
      <header class="resume-header">
        <div class="left">
          <h1 class="resume-title">{{resume.title}}</h1>
          <h3 class="resume-tagline">{{resume.tagline}}</h3>
        </div>
        <div class="right">
          <div class="resume-contact-detail">{{phone}}&nbsp;&nbsp;<i class="fas fa-phone"></i></div>
          <a class="resume-contact-detail" href="mailto:{{email}}">{{email}}&nbsp;&nbsp;<i class="far fa-envelope"></i></a>
          <a class="resume-contact-detail" href="{{site}}">{{siteLabel}}&nbsp;&nbsp;<i class="fas fa-globe-americas"></i></a>
          <a class="resume-contact-detail" href="{{github}}">{{githubLabel}}&nbsp;&nbsp;<i class="fas fa-code-branch"></i></a>
        <div>
      </header>
      {{#resume.experience}}
      <div class="resume-project-entry">
        <header class="resume-project-header">
          <h3>{{title}}{{#client}}&nbsp;-&nbsp;{{client}}{{/client}}</h3>
          <h3>{{start}} - {{#end}}{{end}}{{/end}}{{^end}}Present{{/end}}</h3>
        </header>
        <ul class="resume-achievements">
          {{#achievements}}
          <li>{{.}}</li>          
          {{/achievements}}
        </ul>
        <ul class="resume-tools">
          {{#tools}}
          <li>{{.}}</li>
          {{/tools}}
        </div>
      </ul>
      {{/resume.experience}}
    </div>
  </div>
</body>
</html>