<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - {{projects.svg-plotter.name}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <header class="card__header">
        <h2 class="no-margin">{{projects.svg-plotter.name}}</h2>
        <a class="button" href="https://atticus.dev/svg-plotter/demo/index.html">
          <div class="button__paddle">
            <span class="button__label">check it out</span>
          </div>
        </a>
      </header>
      <p>Convert SVG files to GeoJSON</p>
      <h3>Gallery</h3>
      <div class="gallery">
        {{#projects.svg-plotter.gallery}}
        <a class="button button--image" href="{{.}}">
          <div class="button__paddle">
            <img class="button__image" src="{{.}}" />
          </div>
        </a>
        {{/projects.svg-plotter.gallery}}
      </div>
    </div>
  </div>
</body>
</html>
