<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - {{projects.unity-mesh-slicer.name}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <header class="card__header">
        <h2 class="font-medium text-xl">{{projects.unity-mesh-slicer.name}}</h2>
        <a class="button" href="https://github.com/LiamAttClarke/unity-mesh-slicer">
          <div class="button__paddle">
            <span class="button__label">check it out</span>
          </div>
        </a>
      </header>
      <p>Real-time 3D geometry bisection in <a href="https://unity.com/">Unity</a>.</p>
      <h3 class="font-medium text-lg mb-3">Gallery</h3>
      <div class="gallery">
        {{#projects.unity-mesh-slicer.gallery}}
        <a class="button button--image" href="{{.}}">
          <div class="button__paddle">
            <img class="button__image" src="{{.}}" />
          </div>
        </a>
        {{/projects.unity-mesh-slicer.gallery}}
      </div>
    </div>
  </div>
</body>
</html>
