<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - {{projects.venue-maps.name}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <header class="card__header">
        <h2 class="font-medium text-xl">{{projects.venue-maps.name}}</h2>
      </header>
      <p>I first prototyped this experience to explore the feasibility of rendering venue map data using modern <a href="https://en.wikipedia.org/wiki/Geographic_information_system">GIS</a> techniques. After building a working prototype for web and iOS, the project was greenlit and became my primary focus at Fanxchange.</p>
      <p>Since it's first launch, the library of maps available has grown to cover all major sports across North America and is now rapidly expanding to include Music and Theatre venues. Now you can find these interactive maps on <a href="https://www.fanxchange.com/">fanxchange.com</a>, the <a href="https://itunes.apple.com/ca/app/fanxchange/id1222095569">Fanxchange iOS App</a>, and across a growing list of partners, including <a href="https://www.groupon.com/">groupon.com</a>.</p>
      <h3 class="font-medium text-lg mb-3">Gallery</h3>
      <div class="gallery">
        {{#projects.venue-maps.gallery}}
        <a class="button button--image" href="{{.}}">
          <div class="button__paddle">
            <img class="button__image" src="{{.}}" />
          </div>
        </a>
        {{/projects.venue-maps.gallery}}
      </div>
    </div>
  </div>
</body>
</html>
