<header class="site__header">
  <a class="left" href="/">
    <img class="site__logo" src="/images/liam.png" />
    <div>
      <h1 class="site__title">{{title}}</h1>
      <span class="site__tagline">{{tagline}}</span>
    </div>
  </a>
  <div class="right contact-details">
    <a href="mailto:{{email}}">{{email}}&nbsp;&nbsp;<i class="far fa-envelope"></i></a>
    <a href="{{github}}">{{githubLabel}}&nbsp;&nbsp;<i class="fas fa-code-branch"></i></a>
    <a href="/resume.html">Resume&nbsp;&nbsp;<i class="far fa-file"></i></a>
  </div>
</header>
