<header class="site__header">
  <a class="left no-highlight" href="/">
    <img class="site__logo" src="/images/liam.png" />
    <div>
      <h1 class="text-2xl font-medium mb-1">{{title}}</h1>
      <span class="">{{tagline}}</span>
    </div>
  </a>
  <div class="right contact-details">
    <a href="mailto:{{email}}" class="no-highlight">Email<span class="icon-[mdi--email-outline]"></span></a>
    <a href="{{linkedInUrl}}" class="no-highlight">LinkedIn<span class="icon-[mdi--linkedin]"></span></a>
    <a href="{{githubUrl}}" class="no-highlight">GitHub<span class="icon-[mdi--github]"></span></a>
  </div>
</header>
