.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.gallery.compact>.gallery-item {
  padding: 0;
  background-color: none;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--c-grey-400);
  border-radius: var(--d-border-radius);
  padding: 4px;
}

.gallery-item__image {
  height: 100%;
  object-fit: cover;
  border-radius: var(--d-border-radius);
  /* border: solid 2px var(--c-grey-700); */
}

.gallery-item__label {
  padding: 4px 0;
}

@media screen and (max-width: 640px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}
