.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.project-card {
  position: relative;
  height: 256px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.project-screenshot {
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 1px 8px #2d2d2d;
}
.project-screenshot:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}