:root {
  --print-width: 210mm;
  --print-height: 297mm;
  --print-margin: 0.5in;
}

.page--resume {
  width: var(--print-width) !important;
  padding: 0 !important;
}

.resume {
  box-sizing: border-box;
  width: var(--print-width);
  min-height: var(--print-height);
  padding: var(--print-margin);
  font-size: 11pt;
  color: black;
  line-height: 150%;
  background: white;
  box-shadow: 0 1px 60px var(--c-grey-500);
}

.resume hr {
  border-top: solid 1px black;
  height: 0px;
}

@media print {
  @page {
    size: A4;
    padding: var(--print-margin);
    margin: 0;
  }

  @page :header {
    display: none;
  }

  @page :footer {
    display: none;
  }

  .page__header {
    display: none !important;
  }

  .resume {
    padding: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 640px) {
  .resume .contact-details>a {
    flex-direction: row;
  }
}
