<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - Fanxchange</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <h2>Fanxchange.com</h2>
      <img class="project-screenshot" src="/images/fanxchange/1.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/2.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/3.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/4.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/5.jpg" />
      <img class="project-screenshot" src="/images/fanxchange/6.jpg" />
    </div>
  </div>
</body>
</html>