<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <p>I'm a creative and passionate developer looking to lend my strengths to an equally passionate team. If you find my work compelling, reach out so we can start building something awesome!</p>
    <section class="page-section">
      <div class="section-header">
        <h2 class="no-margin">Portfolio</h2>
      </div>
      {{#portfolio}}
      <div class="card project-card">
        <img class="project-thumb" src="{{thumb}}" alt="{{name}} Thumbnail">
        <div class="project-info">
          <div class="project-header">
              <h3 class="no-margin">{{name}}</h3>
              <span class="project-client">{{client}}</span>
          </div>
          <p>{{description}}</p>
          <a class="project-link" href="{{link}}">Check it out <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      {{/portfolio}}
    </section>
    <section class="page-section">
      <div class="section-header">
        <h2 class="no-margin">Experiments</h2>
      </div>
      {{#experiments}}
      <div class="card project-card">
        <img class="project-thumb" src="{{thumb}}" alt="{{name}} Thumbnail">
        <div class="project-info">
          <div class="project-header">
              <h3 class="no-margin">{{name}}</h3>
          </div>
          <p>{{description}}</p>
          <a class="project-link" href="{{link}}">Check it out <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      {{/experiments}}
    </section>
  </div>
</body>
</html>