<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <section class="page-section">
      <div class="section-header">
        <h2 class="no-margin">Portfolio</h2>
      </div>
      {{#portfolio}}
      <div class="card project-card">
        <img class="project-thumb" src="{{thumb}}" alt="{{name}} Thumbnail">
        <div class="project-info">
          <div class="project-header">
              <h3 class="no-margin">{{name}}</h3>
              <span class="project-client">{{client}}</span>
          </div>
          {{&description}}
          <a class="project-link" href="{{link}}">Check it out <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      {{/portfolio}}
    </section>
    <section class="page-section">
      <div class="section-header">
        <h2 class="no-margin">Open Source</h2>
      </div>
      <div class="card project-card">
        <div class="project-info">
          <div class="project-header">
              <h3 class="no-margin">SVGEO</h3>
          </div>
          <p>NodeJS library/CLI for converting SVG files to GeoJSON.</p>
          <a class="project-link" href="https://github.com/LiamAttClarke">Check it out <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </section>
  </div>
</body>
</html>