<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - Resume</title>
  {{> head}}
  <link rel="stylesheet" href="/styles/resume.css">
</head>
<body>
  <div class="page">
    <div class="page-header">
      <a href="/"><i class="fas fa-arrow-left"></i> Back</a>
      <a class="print-link" href="#" onclick="window.print();"><i class="fas fa-print"></i> Print this page</a>
    </div>
    <div class="resume">
      <header class="resume-header">
        <div class="left">
          <h1 class="no-margin">Liam Atticus Clarke</h1>
          <h3 class="no-margin">Software Developer in Toronto, Canada <i class="fab fa-canadian-maple-leaf"></i></h3>
        </div>
        <div class="right">
          <div>{{phone}}&nbsp;&nbsp;<i class="fas fa-phone"></i></div>
          <div>{{email}}&nbsp;&nbsp;<i class="far fa-envelope"></i></div>
          <div>atticus.dev&nbsp;&nbsp;<i class="fas fa-globe-americas"></i></div>
          <div>{{github}}&nbsp;&nbsp;<i class="fas fa-code-branch"></i></div>
        <div>
      </header>
      <!--too informal--><p>I'm a creative and passionate developer looking to lend my strengths to an equally passionate team. If you find my work compelling, reach out so we can start building something awesome!</p>
      <h2>Experience</h2>
      <div class="resume-experience-entry">
        <header class="resume-experience-header">
          <h3>Software Development Consultant - Fanxchange</h3>
          <h3>November 2018 - Present</h3>
        </header>
        <ul>
          <li>Currently working closely with the content team to optimize workflow for expanding their library of interactive venue maps.</li>
          <li>Developed deployment automation which enabled the content team to more than double their output.</li>
          <!--rewrite--><li>Built a custom interface based on team's feedback to improve quality assurance testing.</li>
          <li>Procedurally generated thousands of static venue maps to maximize event coverage with minimal human resources.</li>
        </ul>
        <p class="resume-tools-used">JavaScript, Python, Node.js, Django Admin, Mapbox, Electron, AWS (SQS, S3, CloudFront)</p>
      </div>
      <hr>
      <div class="resume-experience-entry">
        <header class="resume-experience-header">
          <h3>Senior Software Developer - Fanxchange</h3>
          <h3>2017 - November 2018</h3>
        </header>
        <ul>
          <li>Designed and built an end-to-end solution for industry-leading Interactive Venue Maps on Web and iOS.</li>
          <li>Worked with product team to develop 360&deg;, gyroscope enabled seat views.</li>
          <li>Provided leadership with an extensive technical evaluation of companies and assets prior to acquisition.</li>
          <li>Developed a customizable consumer platform for selling live event tickets with various corporate partnerships.</li>
        </ul>
        <p class="resume-tools-used">JavaScript, Python, Swift, Vue.js, Node.js, Django, Mapbox, RabbitMQ, Redis</p>
      </div>
      <hr>
      <div class="resume-experience-entry">
        <header class="resume-experience-header">
          <h3>Software Developer - Fanxchange</h3>
          <h3>2016-2017</h3>
        </header>
        <ul>
          <li>Worked closely with design team to execute on a complete rewrite/redesign of fanxchange.com.</li>
          <li>Researched and prototyped solutions for internal and user-facing obstacles which resulted in several successful major initiatives.</li>
        </ul>
        <p class="resume-tools-used">JavaScript, Python, Vue.js, Angular, Node.js, Webpack, MySQL</p>
      </div>
      <hr>
      <p class="resume-footer">If you would like to see more of my work, visit my website and GitHub page listed above.</p>
    </div>
  </div>
</body>
</html>