<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - Venue Map</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <h2>Interactive Venue Maps</h2>
      <p>First prototyped in my free time to explore the feasibility of using WebGL to render visually stunning and interactive venue maps; It soon became my primary focus at Fanxchange.</p>
      <p>Since it's first launch, the library of maps available has grown to cover all major sports across North America and continues to expand.</p>
      <p>
        Now you can find these interactive maps on <a href="https://www.fanxchange.com/">fanxchange.com</a>,
        the <a href="https://itunes.apple.com/ca/app/fanxchange/id1222095569">Fanxchange iOS App</a>,
        and across a growing list of partners, including <a href="https://www.groupon.com/">groupon.com</a>.
      </p>
      <h3>Screenshots</h3>
      <img class="project-screenshot" src="/images/venue-map/1.jpg" />
      <img class="project-screenshot" src="/images/venue-map/2.jpg" />
      <img class="project-screenshot" src="/images/venue-map/3.jpg" />
      <img class="project-screenshot" src="/images/venue-map/4.jpg" />
      <img class="project-screenshot" src="/images/venue-map/5.jpg" />
      <img class="project-screenshot" src="/images/venue-map/6.jpg" />
    </div>
  </div>
</body>
</html>