<div class="site-banner">
  <div class="left">
    <h1 class="site-title">Liam Atticus Clarke</h1>
    <h3 class="site-tagline">Software Developer in Toronto, Canada</h3>
  </div>      
  <div class="right">
    <a href="mailto:liam.att.clarke@gmail.com">liam.att.clarke@gmail.com</a><br>
    <a href="https://github.com/LiamAttClarke">GitHub</a>
  </div>
</div>