<!DOCTYPE html>
<html lang="en">
<head>
  <title>Liam Atticus Clarke - Venue Map</title>
  {{> head}}
</head>
<body>
  <div class="page">
    {{> header}}
    <section class="page-section">
      
    </section>    
  </div>
</body>
</html>