:root {
  /* colors */
  --c-primary: #E1AD01;
  --c-primary--dark: #d6a401;
  --c-primary--darker: #b48b03;
  --c-primary--darkest: #927002;
  --c-accent: #2966ac;
  --c-error: #FF4D40;
  --c-error--light: #FF9C8C;
  --c-grey-0--translucent: rgba(248, 252, 255, 0.902);
  --c-grey-0: #ffffff;
  --c-grey-1: #f3f3f3;
  --c-grey-2: #ececec;
  --c-grey-3: #e0e0e0;
  --c-grey-4: #d1d1d1;
  --c-grey-5: #cacaca;
  --c-grey-6: #bbbbbb;
  --c-grey-7: #b1b1b1;
  --c-grey-8: #8d8d8d;
  --c-grey-9: #000000;
  --c-text: #000000;
  /* durations */
  --t-fastest: 100ms;
  --t-fast: 250ms;
  --t-normal: 500ms;
  --t-slow: 750ms;
  --t-focus: 250ms;
  /* dimensions */
  --d-border-radius: 4px;
  --d-input-padding: 10px;
  --d-button-padding: 4px;
  --d-input-height: 42px;
  /* font-sizes */
  --fs-small: 0.9rem;
  --fs-normal: 1rem;
  --fs-large: 1.1rem;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--c-accent);
  color: white;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--c-text);
  background: var(--c-primary);
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  font-weight: 500;
}

p {  
  line-height: 150%;
}

a {
  color: var(--text-0);
  text-decoration-style: solid;
  text-decoration-color: var(--c-accent);
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--c-accent);
}

hr {
  height: 1px;
  border: 0;
  background-color: #152331;
}

ol, ul {
  color: #ddd;
  padding-left: 24px;
  margin: 8px 0;
}

button {
  padding: 6px 12px;
  border: 0;
  border-radius: var(--d-border-radius);
  background-color: var(--c-primary);
  font-family: 'Nunito', sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
button.small {
  font-size: 10px;
}
button.large {
  font-size: 14px;
}
button:disabled {
  background-color: #ddd;
  color: #222;
  cursor: default;
}

input {
  padding: 4px;
  border: solid 1px #152331;
  background-color: #152331;
  border-radius: var(--d-border-radius);
  transition: border-color ease-in-out 150ms;
}
input:focus {
  border-color: #ddd;
}

.no-margin {
  margin: 0;
}

.page {
  width: 840px;
  margin: 0 auto 32px auto;
  padding: 0 16px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  margin: 48px 0;
}

.site-header a:not(:hover) {
  text-decoration: none;
}

.site-header > .left:hover {
  text-decoration: none;
  color: var(--c-text);
}
.site-header > .right {
  text-align: right;
}

.site-title {
  font-size: 1.75em;
}

.site-tagline {
  margin: 0;
  font-weight: 400;
}

.site-tagline > .fa-canadian-maple-leaf {
  color: #db0000;
}

.site-header-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 150%;
}
.site-header-link > i {
  padding: 0 4px;
}

.site-footer {
  margin: 32px 0;
}

.page-section {
  margin: 32px 0;
}

.section-header {
  margin: 16px 0;
}

.card {
  padding: 16px;
  border-radius: var(--d-border-radius);
  background-color: var(--c-primary--dark);
}
.card:last-of-type {
  margin-bottom: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 840px) {
  .page {
    width: 100vw;
    padding: 0 16px;
  }
}

@media screen and (max-width: 640px) {
  .site-header {
    justify-content: flex-start;
    flex-direction: column;
  }
  .site-header > .left {
    margin-bottom: 8px;
  }
  .site-header > .right {
    text-align: left;
  }

  .site-header-link {
    flex-direction: row-reverse;
  }
}