:root {
  --d-button-offset--accent: 4px;
  --d-button-offset--idle: 2px;
  --d-button-offset--depressed: 1px;
}

.button__paddle .icon {
  font-size: 1.25rem;
}

.button {
  position: relative;
  border: none;
  outline: none;
  height: var(--d-input-height);
  border-radius: var(--d-border-radius);
  background-color: var(--c-grey-9);
  padding: 0;
  font-size: 1em;
  text-decoration: none !important;
  box-shadow: 0 0 4px 0 var(--c-grey-11);
  transition: background-color var(--t-fastest) ease-in-out;
  /* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic */
  user-select: none;
}

.button__paddle {
  position: relative;
  bottom: var(--d-button-offset--idle);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--d-button-padding);
  border: solid 2px var(--c-grey-9);
  border-radius: var(--d-border-radius);
  background-color: var(--c-grey-8);
  color: var(--c-grey-0);
  text-align: center;  
  cursor: pointer;
  transition: background-color var(--t-fastest) ease-in-out,
              border-color var(--t-fastest) ease-in-out,
              bottom var(--t-fastest) ease-in-out;
}

.button__paddle.extra-padding {
  padding: var(--d-button-padding)  calc(var(--d-button-padding) * 2);
}

.button:hover > .button__paddle, .button:focus > .button__paddle {
  bottom: var(--d-button-offset--accent);
}

.button:hover > .button__tooltip {
  opacity: 1;
}

.button:active > .button__paddle {
  bottom: var(--d-button-offset--depressed);
}

.button:disabled > .button__paddle, .button.primary:disabled > .button__paddle {
  bottom: 0;
  background-color: var(--c-primary--lightest);
  border-color: var(--c-grey-1);
  color: var(--c-grey-2);
  cursor: auto;
}

.button:disabled:active, .button.primary:disabled:active {
  bottom: none;
}

.button.primary {
  font-weight: bold;
  background-color: var(--c-primary--dark);
}

.button.primary > .button__paddle {
  background-color: var(--c-primary);
  color: white;
  border: solid 2px var(--c-primary--dark);
}

.button.link {
  height: auto;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.button.link > .button__paddle {
  position: initial;
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  color: var(--c-primary--darkest);
  background-color: transparent;
}

.button__content {
  height: 100%;
  display: flex;
  align-items: center;
}

.button.link .button__label {
  text-decoration: underline;
  text-decoration-skip: space;
  text-decoration-color: var(--c-grey-3);
}

.button.link:hover .button__content, .button.link:focus .button__content {
  text-decoration-color: var(--c-primary--darkest);
}

.button--image {
  height: auto;
}

.button--icon {
  border-radius: 100%;
  width: var(--d-input-height);
}

.button--icon > .button__paddle {
  padding: var(--d-button-padding);
  border-radius: 100%;
}

.button--icon .button__icon {
  margin-right: 0;
}

.button__icon {
  margin-right: 6px;
}

.button__tooltip {
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: center;
  height: 24px;
  transform: translateX(-50%);
  padding: 0 10px;
  background-color: var(--c-grey-1);
  border-radius: 12px;
  color: var(--c-grey-9);
  white-space: nowrap;
  opacity: 0;
  transition: opacity var(--t-fast) ease-in-out;
  font-size: 0.9rem;
  font-weight: bold;
}

.button__image {
  width: 100%;
  margin-bottom: 8px;
  background-color: var(--c-grey-7);
  border-radius: var(--d-border-radius);
  border: solid 1px var(--c-grey-9);
}
