.project-card {
  display: flex;
}

.project-thumb {
  flex-shrink: 0;
  width: 128px;
  height: 128px;
  margin-right: 16px;
  border-radius: 3px;
}

.project-info {
  position: relative;
  flex-grow: 1;
  padding-bottom: 32px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-client {
  color: #ddd;
}

.project-link {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  color: #55acee;
  font-weight: 500;
}

.project-screenshot {
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 1px 8px #2d2d2d;
}
.project-screenshot:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .project-thumb {
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 480px) {
  .project-card {
    padding: 12px;
  }

  .project-thumb {
    width: 64px;
    height: 64px;
    margin-right: 12px;
  }

  .project-client {
    font-size: 12px;
  }

  .project-link {
    padding: 4px 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .project-thumb {
    display: none;
  }
}