.page--resume {
  width: 8.5in;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.resume-title {
  font-size: 1.75em;
}

.resume-tagline {
  margin: 0;
  color: black;
  font-weight: 400;
}

.resume-tagline > .fa-canadian-maple-leaf {
  color: black;
}

.resume {
  width: 8.5in;
  min-height: 11in;
  padding: .75in;
  font-size: 12px;
  color: black;
  line-height: 150%;
  background: white;
  box-shadow: 0 1px 20px var(--c-grey-11);
}

.resume p, ol, ul {
  color: black;
}

.resume ul {
  padding-left: 16px;
}

.resume p {
  text-indent: 16px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .25in;
}

.resume-header > .right {
  text-align: right;
  line-height: 133%;
}

.resume-contact-detail {
  display: block;
  color: black;
  text-decoration: none;
}

.resume-project-entry {
  margin: 24px 0;
}

.resume-project-header {
  display: flex;
  justify-content: space-between;
}

.resume-achievements {

}

.resume-tools {
  list-style-type: none;
  font-size: 12px;
  font-style: italic;
}

.resume-tools > li {
  display: inline;
}

.resume-tools > li:after {
  content: ", "
}

.resume-tools > li:last-child:after {
  content: "";
}

.resume-footer {
  text-align: center;
}

@page {
  size: letter;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
  }

  .page-header {
    display: none;
  }

  .document {
    box-shadow: none;
  }
}