* {
  box-sizing: border-box;
}

::selection {
  background-color: #55acee;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: white;
  background: #1f364d;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  font-weight: 400;
}

p {
  color: #b9c9da;
}

a {
  color: #55acee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 2px;
  background-color: #b9c9da;
}

ol, ul {
  color: #b9c9da;
  padding-left: 24px;
  margin: 8px 0;
}

.no-margin {
  margin: 0;
}

.page {
  width: 720px;
  margin: 0 auto 32px auto;
  padding: 0 16px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
.site-header > .left {
  color: white;
}
.site-header > .left:hover {
  text-decoration: none;
}
.site-header > .right {
  text-align: right;
}

.site-title {
  margin: 0;
  font-size: 1.75em;
}

.site-tagline {
  margin: 0;
  color: #b9c9da;
}

.site-header-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 150%;
}
.site-header-link > i {
  padding: 0 4px;
}

.page-section {
  margin-bottom: 32px;
}
.page-section:last-of-type {
  margin-bottom: 0;
}

.section-header {
  margin: 8px 0;
}

.card {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 3px;
  background-color: #233b53;
}
.card:last-of-type {
  margin-bottom: 0;
}

.project-card {
  display: flex;
}

.project-thumb {
  width: 128px;
  flex-shrink: 0;
  height: 128px;
  margin-right: 16px;
  border-radius: 3px;
}

.project-info {
  position: relative;
  flex-grow: 1;
  padding-bottom: 32px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-client {
  color: #b9c9da;
}

.project-link {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 12px;
  background-color: #55acee;
  border-radius: 3px;
  color: white;
  font-weight: 700;
}
.project-link:hover {
  text-decoration: none;
}

.project-screenshot {
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 1px 8px #233b53;
}
.project-screenshot:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .page {
    width: 100vw;
    padding: 0 16px;
  }

  .project-thumb {
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 480px) {
  .site-header {
    justify-content: flex-start;
    flex-direction: column;
  }
  .site-header > .left {
    margin-bottom: 8px;
  }
  .site-header > .right {
    text-align: left;
  }

  .site-header-link {
    flex-direction: row-reverse;
  }

  .project-card {
    padding: 12px;
  }

  .project-thumb {
    width: 64px;
    height: 64px;
    margin-right: 12px;
  }

  .project-client {
    font-size: 12px;
  }

  .project-link {
    padding: 4px 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .project-thumb {
    display: none;
  }
}